* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template: "header header" "navigation content";
  grid-template-columns: 20% 80%;
  grid-template-rows: minmax(70px, max-content);
  grid-gap: 5px;
}

.header {
  grid-area: header;
  background-color: rgba(130, 219, 222, 0.697);
  padding: 5px 5px;
}

.header > img {
  width: 7%;
}

.nav {
  background-color: rgba(130, 219, 222, 0.995);
  grid-area: navigation;
  padding: 5px 0;
  text-align: left;
  font-size: 17px;
  text-align: center;
  height: 100%;
}

.nav__item {
  margin: 10px 0;
}

.content {
  grid-area: content;
  display: grid;
  grid-template: "pImg pImg" "avatar desc";
  grid-template-columns: 20% 80%;
  grid-template-rows: 20% max-content;
  grid-gap: 5px;
  background-color: rgba(77, 139, 140, 0.36);
}

.profile__img {
  grid-area: pImg;
}

.profile__img > img {
  width: 960px;
  height: 100%;
  object-fit: cover;
}

.avatar {
  grid-area: avatar;
}

.avatar > img {
  width: 70%;
}

.description {
  grid-area: desc;
  margin: 0 auto 0 -57px;
}

.description > p {
  text-align: justify;
  width: 100%;
}